

# Database Configuration
NEON_DB_URL=postgresql+asyncpg://username:password@host/dbname

# # Email Tracking Configuration
# TRACKING_DOMAIN=your-tracking-domain.com
# TRACKING_SERVER_PORT=8000

# # Gmail API Credentials
# GMAIL_CLIENT_ID=your_client_id
# GMAIL_CLIENT_SECRET=your_client_secret

# Application Settings
GMAIL_CREDENTIALS_PATH=credentials/credentials.json
BASE_URL=http://localhost:8000
TRACKING_PIXEL_BASE_URL=http://localhost:8000/track/pixel