# Web Framework
fastapi
uvicorn[standard]

# Database
sqlalchemy
alembic
psycopg2-binary

# Google API
google-auth
google-auth-oauthlib
google-api-python-client

# Templates
jinja2

# Environment
python-dotenv

# Settings Management
pydantic
pydantic-settings

# Async Support
greenlet
asyncpg

pytz

# Cloud Storage
boto3

# Testing
httpx
pytest-asyncio

# Auth & Encryption
cryptography
authlib
python-jose[cryptography]
itsdangerous
